.productDetail{
    border: 1px solid;
    border-radius: 15px;
    
}

.imagen{
    width: 200px;
    height: 200px;
}

.precio{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    color: blue;
    
}