.cartWidget-p {
    color: white;
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: red;
    border-radius: 90px;
    width: 21px;
    height: 23px;
    padding-left: 3px;
}

.carroManito{
    cursor: pointer;
}